@-webkit-keyframes bg {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0)
  }
  100% {
    -webkit-transform: translateX(-1589px);
    transform: translateX(-1589px)
  }
}

@keyframes bg {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0)
  }
  100% {
    -webkit-transform: translateX(-1589px);
    transform: translateX(-1589px)
  }
}

@-webkit-keyframes opacity {
  0% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}

@keyframes opacity {
  0% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}

@-webkit-keyframes line {
  0% {
    width: 0
  }
  100% {
    width: 25%
  }
}

@keyframes line {
  0% {
    width: 0
  }
  100% {
    width: 25%
  }
}

*,
:before,
:after {
  box-sizing: border-box
}

html,
body {
  width: 100%;
  height: 100%
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  color: #fff;
  letter-spacing: -.025em;
  line-height: 1.2;
  -webkit-text-size-adjust: none;
  margin: 0
}

.loading * {
  -webkit-animation: none;
  animation: none
}

.wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-animation: opacity 3s forwards;
  animation: opacity 3s forwards;
  opacity: 0;
  overflow: hidden
}

.bg {
  position: absolute;
  -webkit-animation: bg 70s linear infinite;
  animation: bg 70s linear infinite;
  background: #a9a9a9 url(../img/bg2.jpg) repeat-x bottom left;
  background-size: 1589px 100%;
  width: 4767px;
  height: 100%
}

.overlay {
  position: absolute;
  -webkit-animation: opacity 1.5s 1.5s forwards;
  animation: opacity 1.5s 1.5s forwards;
  background-attachment: fixed, fixed;
  background-image: url(../img/overlay-pattern.png), url(../img/overlay.svg);
  background-position: top left, center center;
  background-repeat: repeat, no-repeat;
  background-size: auto, cover;
  width: 100%;
  height: 100%;
  opacity: 0
}

.main {
  position: absolute;
  min-height: 28.125rem;
  width: 30%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  border-radius: 10px;
  background-color: rgba(241, 238, 243, .7);
  box-shadow: 1.25rem 1.25rem 1.25rem rgba(0, 0, 0, .20);
  -webkit-animation: opacity 1s 2.25s forwards;
  animation: opacity 1s 2.25s forwards;
  opacity: 0;
  color: #313f47;
  border-top: 2px solid rgba(241, 196, 15, .8)
}

.main::before,
.main::after {
  content: '';
  position: absolute;
  width: 0;
  height: 1px;
  background-color: rgba(49, 63, 71, .55);
  top: 7.9375rem;
  -webkit-animation: line 2s linear forwards;
  animation: line 2s linear forwards;
  -webkit-animation-delay: 3s;
  animation-delay: 3s
}

.main::before {
  left: 0
}

.main::after {
  right: 0
}

.main__avatar-wrapper {
  position: absolute;
  top: 2.1875rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 10.75rem;
  height: 10.75rem;
  border-radius: 50%;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none
}

.main__avatar {
  width: 100%
}

.main__name {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  top: 13.75rem;
  font-size: 1.8rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none
}

.main__position {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  top: 17.1875rem;
  font-size: 1.35rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none
}

.main__social-list {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  top: 19.6575rem;
  padding: 0;
  margin-top: .3125rem;
  margin-bottom: .3125rem;
  list-style: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none
}

.main__social-item {
  -webkit-animation: opacity .5s ease-in-out forwards;
  animation: opacity .5s ease-in-out forwards;
  display: inline-block;
  margin-left: 5px;
  line-height: 5.885em;
  opacity: 0;
  border: solid 1px #313f47;
  border-radius: 50%;
  width: 3.4375rem;
  height: 3.4375rem;
  -webkit-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out
}

.main__social-item:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  background-color: rgba(241, 196, 15, .8)
}

.main__social-item:hover .main__social-link {
  font-size: 1.1em
}

.main__social-item:nth-child(1) {
  -webkit-animation-delay: 2.5s;
  animation-delay: 2.5s
}

.main__social-item:nth-child(2) {
  -webkit-animation-delay: 2.75s;
  animation-delay: 2.75s
}

.main__social-item:nth-child(3) {
  -webkit-animation-delay: 3s;
  animation-delay: 3s
}

.main__social-link {
  position: relative;
  display: block;
  text-decoration: none;
  color: #313f47;
  height: 100%;
  -webkit-transition: all .2s;
  transition: all .2s
}

.main__social-link::before {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 1.75em;
  height: 2.5em;
  line-height: 2.5em;
  width: 2.5em;
  -webkit-font-smoothing: antialiased;
  font-family: FontAwesome
}

.main__email {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  top: 25.1875rem;
  font-size: 1.36rem;
  color: #313f47;
  font-weight: 700;
  border-bottom: 1px solid #F1C40F
}

@media screen and (max-width: 1680px) {
  html {
    font-size: 17px
  }
  .main {
    width: 25rem
  }
  .main__name {
    top: 15rem
  }
  .main__avatar-wrapper {
    width: 10rem;
    height: 10rem
  }
  .main::before,
  .main::after {
    top: 7.6rem
  }
}

@media screen and (max-width: 1200px) {
  .main {
    width: 40%
  }
  .main__avatar-wrapper {
    width: 9rem;
    height: 9rem
  }
  .main::before,
  .main::after {
    top: 6.4rem
  }
  .main__name {
    top: 12rem
  }
  .main__position {
    top: 15rem
  }
}

@media screen and (max-width: 992px) {
  .main {
    width: 50%
  }
  .main__avatar-wrapper {
    width: 8rem;
    height: 8rem
  }
}

.main__name {
  font-size: 1.65rem
}

@media screen and (max-width: 768px) {
  .main {
    width: 80%;
    min-height: 32rem
  }
  .main__social-list {
    top: 20.625rem
  }
  .main__avatar-wrapper {
    width: 8rem;
    height: 8rem
  }
  .main__name {
    font-size: 1.72rem;
    top: 10.8rem
  }
  .main__position {
    font-size: 1.4rem
  }
}

@media screen and (max-width: 491px) {
  .main__social-item {
    margin-left: 0;
  }
}

@media screen and (max-width: 480px) {
  .main {
    width: 100%;
    min-height: 40rem;
    border-radius: 0;
  }
  .main__name {
    font-size: 2.2rem;
    top: 11.5rem
  }
  .main__position {
    font-size: 1.4rem;
    top: 17rem
  }
  .main__social-item {
    display: block;
    width: 70px;
    height: 70px;
    margin-bottom: 5px;
  }
  .main__email {
    top: 37rem;
    font-size: 8vw;
  }
  .bg {
    background: none;
  }
  .main {
    height: 100%;
  }
}